.play-area {
  display: flex;
  flex-direction: row;
}

.game-grid {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  width: 40%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  border: solid 1px black;
}

.game-square {
  border: solid 1px black;
}
